## Network

#BIND_IP=[::]
#PORT=8080

## Upstream Server

#STYLE_BASE_URL=http://localhost:8080

## Cache

# CACHE_DIR=./tiles_cache
# CACHE_TTL_SECONDS=604800 # 7 days
# DISABLE_CACHE=false

## Benchmark

# BENCHMARK_CONCURRENCY=50
# BENCHMARK_DURATION_SECS=10

## Rendering

# RENDER_WORKER_QUEUE_SIZE=1024
# RENDER_NUM_WORKERS=
# RENDER_STACK_SIZE=8
# RENDER_IMAGE_SIZE=512
